* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";
}
@media (ma)
body {
    overflow-x: hidden ;
    max-width: 1920px;
}
header {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
}

header .container {
    width: 1340px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
    




header .container ul {
    display: flex;
}
header .container ul a {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 40px;
    font-family:helvetica;
    margin-left: auto;
    position: ;
}

/*--section 1--*/
@media (min-width: 1500px) {
    .sec1 {
        height: 100vh;
        width: 100%;
    }
}

.sec1 .container {
    
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url(/images/sec/sec1.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 1014px -110px;
}
.sec1 h1 {
    color: #31489f;
    font-size: 4em;
    animation: apparition 0.9s ease-out;
    margin: 150px;
    margin-top: 200px;
}
.sec1 h4 {
    color: #ffd900;
    font-size: 1.5em;
    margin: 160px;
    margin-top: -140px;
    animation: apparition2 1s ease-out;
}
@keyframes apparition2 {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    10% {
        opacity: 0;
        transform: translateX(-30px);
    }
    99% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateX(-110px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
